@import "tailwindcss";
:root {
  --font-primary: var(--font-open-sans);
}

body {
  font-family: var(--font-primary), system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}
/* In globals.css */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #18181b;
}

::-webkit-scrollbar-thumb {
  background: #3f3f46;
  border-radius: 3px;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* @theme {
   
  --color-background: #201f31;
  --color-foreground: #ffffff;
  --color-border: #3a3a3e;
  --color-ring: #ffdd95;

  
  --color-primary: #ffdd95;
  --color-lightbg: #201f31ea;
  --color-card: #2f2f33;
  --color-btnbg: #3a3a3e;
  --color-yellow: #f9ed69;
  --color-purple: #b1b2ff;
  --color-pink: #f2bed1;
} */
/* 
@layer base {
  * {
    
    @apply border-border outline-ring/50;
  }

  body {
    
    @apply bg-background text-foreground;
  }
} */